head
  title ComClicker
  // Icon
  link(rel='shortcut icon' href='img/icon.png')
  link(rel='apple-touch-icon' href='img/icon.png')
  // CSS Imports
  link(rel='stylesheet' href='css/index.css')
  // Meta Data Tags
  meta(name='viewport' content='width=device-width, user-scalable=no')
  meta(name='apple-mobile-web-app-title' content='ComClicker')
  meta(name='apple-mobile-web-app-capable' content='yes')
  // Global site tag (gtag.js) - Google Analytics
  script(async src="https://www.googletagmanager.com/gtag/js?id=UA-120167813-5")
  script
    | window.dataLayer = window.dataLayer || [];
    | function gtag(){dataLayer.push(arguments);}
    | gtag('js', new Date());
    | gtag('config', 'UA-120167813-5');

body
  header
    section#title
      h1 
        | ComClicker 
        br.mobileOnly
        | [Pre-Alpha]
      h2 A communal clicker game
    section#links
      a.left(onclick='toggleDialogue(1)')
        i(class='fa fa-user')
      a.right(onclick='toggleDialogue(0)')
        i(class='fa fa-trophy')
  main
    div#clicker
    div#leaderboard.dialogue
      h1 Leaderboard
      hr.small
      ol
        each player in topPlayers
          li= player
    div#account.dialogue
      if user
        h1 Account
        hr.small
        span
          | Username - #{user.username}
          br
          | Individual Score - #{user.score}
      else
        form(action='/api/user/signIn' method='POST')#signIn.auth
          h1 Sign in
          hr.small
          br
          input(type='email' name='email' placeholder='Email')
          br
          input(type='password' name='password' placeholder='Password')
          a(href='#')#forgotPassword Forgot password
          br
          button(type='submit') Sign in
          span.bottomText
            a(onclick='toggleAuth()') Create an account
        form(action='/api/user/signUp' method='POST')#signUp.auth
          h1 Sign up
          hr.small
          br
          input(type='text' name='username' placeholder='Username')
          br
          input(type='email' name='email' placeholder='Email')
          br
          input(type='password' name='password' placeholder='Password')
          br
          input(type='password' name='confirm' placeholder='Confirm Password')
          br
          button(type='submit') Sign up
          span.bottomText
            | Already have an account? 
            a(onclick='toggleAuth()') Sign in
          
      
      
  footer
    section#score
      h1
        u World Score
      h2#scoreCount Loading
    // JS Imports
    script(src='socket.io/socket.io.js')
    script(src='js/index.js')
    script(src='https://kit.fontawesome.com/9ff649492a.js' crossorigin='anonymous')
