head
  title ComClicker
  // Icon
  link(rel='shortcut icon' href='img/icon.png')
  link(rel='apple-touch-icon' href='img/icon.png')
  // CSS Imports
  link(rel='stylesheet' href='css/index.css')
  // Meta Data Tags
  meta(name='viewport' content='width=device-width, user-scalable=no')
  meta(name='apple-mobile-web-app-title' content='ComClicker')
  meta(name='apple-mobile-web-app-capable' content='yes')
body
  header
    section#title
      h1 ComClicker [Pre-Alpha]
      h2 A communal clicker game
    section#links
      a(href='https://github.com/jak-inventions/ComClicker')
        i(class='fa fa-github')
    button#settingsButton(onclick='toggleSettings()')
      i(class='fa fa-cog')
  main
    div#clicker
    div#settings.dialogue
      h1 Settings
      hr.small
      div.setting
        | Audio 
        input(type='checkbox' ontoggle='toggleAudio()')
  footer
    section#score
      h1
        u World Score
      h2#scoreCount Loading
    // JS Imports
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js')
    script(src='js/index.js')
    script(src='https://kit.fontawesome.com/9ff649492a.js' crossorigin='anonymous')
