
/* Fonts */

@font-face{
  font-family: "web";
  src: url("fonts/Titillium_Web/TitilliumWeb-Regular.ttf");
}

/* Ids */

#title{
  text-align: center;
}

#title h1{
  font-size: 36px;
  margin: 0px;
}

#title h2{
  font-size: 28px;
  margin: 0px;
}

#settingsButton{
  position: absolute;
  right: 20px;
  top: 20px;
  transition: 0.5s;
  cursor: pointer;
}

#settingsButton i{
  font-size: 40px;
}

#clicker{
  width: 300px;
  height: 300px;
  background: #f5b362;
  border-radius: 150px;
  border: 5px solid black;
  margin: auto;
  transition: 0.1s;
  cursor: pointer;
}

#clicker:active{
  width: 250px;
  height: 250px;
}

#score{
  text-align: center;
}

#score h1{
  margin: 0px;
}

#score h2{
  margin: 0px;
}

#links{
  position: absolute;
  right: 80px;
  top: 20px;
}

#links a{
  cursor: pointer;
  transition: 0.25s;
}

#links a:active{
  opacity: 0.7;
}

#links i{
  color: black;
  font-size: 40px;
}

#scoreCount{
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  overflow-wrap: break-word;
}

/* Classes */

.dialogue{
  position: absolute;
  min-width: 500px;
  height: 0;
  border-radius: 15px;
  margin: auto;
  transition: 0.5s;
  background: #f1f2f3;
  overflow: hidden;
}

.dialogue.open{
  height: 150px;
  border: 2px solid black;
}

.dialogue h1{
  text-align: center;
  font-size: 30px;
  margin-bottom: 0px;
}

.setting{
  text-align: center;
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: default;
}

.setting input{
  vertical-align: middle;
}

.mobileOnly{
  display: none;
}

/* Tags */

body{
  /* Grid [Don't edit] */
  background-color: #f1f2f3;
  background-image:
  -webkit-linear-gradient(0deg, transparent 0em, rgba(0,0,0,.05) .05em, rgba(0,0,0,.05) .125000em, transparent .125000em),
  -webkit-linear-gradient(rgba(0,0,0,.05) .062500em, transparent .062500em);
  background-image:
  -moz-linear-gradient(0deg, transparent 0em, rgba(0,0,0,.05) .05em, rgba(0,0,0,.05) .125000em, transparent .125000em),
  -moz-linear-gradient(rgba(0,0,0,.05) .062500em, transparent .062500em);
  background-image:
  -ms-linear-gradient(0deg, transparent 0em, rgba(0,0,0,.05) .05em, rgba(0,0,0,.05) .125000em, transparent .125000em),
  -ms-linear-gradient(rgba(0,0,0,.05) .062500em, transparent .062500em);
  background-image:
  -o-linear-gradient(0deg, transparent 0em, rgba(0,0,0,.05) .05em, rgba(0,0,0,.05) .125000em, transparent .125000em),
  -o-linear-gradient(rgba(0,0,0,.05) .062500em, transparent .062500em);
  background-image:
  linear-gradient(0deg, transparent 01em, rgba(0,0,0,.05) .05em, rgba(0,0,0,.05) .125000em, transparent .125000em),
  inear-gradient(rgba(0,0,0,.05) .062500em, transparent .062500em);
  background-size: 1.25em 1.25em;
  background-position: 0 -0.5em;
  /* Everything else */
  margin: 0px;
  padding: 0px;
}

button{
  padding: 0px;
  border: none;
  background: transparent;
}

button:focus{
  outline: none;
}

header{
  position: absolute;
  width: 100vw;
  margin: 0px;
  padding-top: 10px;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0px;
}

footer{
  position: absolute;
  width: 100vw;
  bottom: 0px;
  margin: 0px;
  padding-bottom: 50px;
}

hr.small{
  width: 25%;
}

hr.medium{
  width: 50%;
}

hr.large{
  width: 75%;
}

input[type=checkbox]{
  cursor: pointer;
}

/* Other */

*{
  font-family: 'web';
}

*:not(strong){
  font-weight: normal;
}

/* Mobile */

@media (max-width: 850px) {

  *{
    -webkit-tap-highlight-color: transparent;
  }

  #title h1{
    font-size: 34px;
  }

  #title h2{
    font-size: 26px;
  }

  #settingsButton{
    right: 20px;
  }

  #links{
    left: 20px;
  }

  .dialogue{
    min-width: 325px;
  }

  .mobileOnly{
    display: block;
  }

  footer{
    padding-bottom: 20px;
  }

}
