
/* Fonts */

@font-face{
  font-family: "web";
  src: url("fonts/Titillium_Web/TitilliumWeb-Regular.ttf");
}

/* Ids */

#title{
  text-align: center;
}

#title h1{
  font-size: 36px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#title h2{
  font-size: 28px;
  margin: 0px;
}

#clicker{
  width: 300px;
  height: 300px;
  background: #f5b362;
  border-radius: 150px;
  border: 5px solid #d99541;
  margin: auto;
  transition: 0.1s;
  cursor: pointer;
}

#clicker:active{
  width: 250px;
  height: 250px;
}

#score{
  text-align: center;
}

#score h1{
  margin: 0px;
}

#score h2{
  margin: 0px;
}

#links{
  position: absolute;
  right: 10px;
  top: 20px;
}

#links a{
  cursor: pointer;
  transition: 0.25s;
  margin-left: 10px;
  margin-right: 10px;
}

#links a:active{
  opacity: 0.7;
}

#links i{
  color: #303030;
  font-size: 40px;
}

#scoreCount{
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  overflow-wrap: break-word;
}

#leaderboard ol{
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 75%;
}

#leaderboardHeader{
  display: inline-block;
  margin-left: 9%;
  width: 80%;
}

#leaderboardHeader h3{
  display: inline-block;
  margin: 0px;
  text-decoration: underline;
}

#signIn{
  display: block;
}

#forgotPassword{
  display: inline-block;
  margin: 10px;
  margin-left: 10%;
}

#signUp{
  display: none;
}

/* Classes */

.dialogue{
  position: absolute;
  width: 0;
  opacity: 0;
  height: auto;
  border-radius: 15px;
  margin: auto;
  transition: 0.5s;
  background: #f1f2f3;
  border: 2px solid #d1d1d1;
  overflow: hidden;
  white-space: nowrap;
}

.dialogue.open{
  width: 450px;
  opacity: 1;
}

.dialogue h1{
  text-align: center;
  font-size: 30px;
  margin-bottom: 0px;
}

.left{
  float: left;
}

.right{
  float: right;
}

.mobileOnly{
  display: none;
}

.dialogue input{
  display: block;
  margin-left: 10%;
  width: 80%;
  transition: border-color 0.5s;
}

.dialogue input:focus,button:focus{
  border-color: #1a73e8;
}

.dialogue a{
  text-decoration: underline;
  cursor: pointer;
  color: #303030;
  transition: color 0.25s, text-decoration-color 0.25s;
}

.dialogue a:hover{
  text-decoration: none;
}

.dialogue a:active{
  color: #757575;
}

.dialogue a:focus{
  text-decoration-color: #1a73e8;
}

.dialogue .bottomText{
  display: block;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  transition: color 0.25s;
  text-decoration-color: #1a73e8;
}

.dialogue .bottomText a:focus{
  text-decoration-color: #1a73e8;
}

.message{
  display: block;
  width: 80%;
  background-color: #e8e8e8;
  border: 1px solid #c9c9c9;
  border-radius: 10px;
  margin-left: 10%;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
  font-size: 16px;
}

.message.red{
  background-color: #ff4a4a;
  border-color: #c91e1e;
  color: white;
}

.message.green{
  background-color: #0b9e00;
  border-color: #086e00;
  color: white;
}

.message a{
  float: right;
  margin-right: 5%;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.message a:active{
  color: #ffadad;
}

.message span{
  margin-left: 5%;
  display: inline-block;
  width: 80%;
  word-wrap: break-word;
  white-space: normal;
}

.username{
  display: inline-block;
  width: 90%;
}

.score{
  display: inline-block;
  width: 20%;
}

/* Tags */

body{
  /* Grid [Don't edit] */
  background-color: #f1f2f3;
  background-image:
  -webkit-linear-gradient(0deg, transparent 0em, rgba(0,0,0,.05) .05em, rgba(0,0,0,.05) .125000em, transparent .125000em),
  -webkit-linear-gradient(rgba(0,0,0,.05) .062500em, transparent .062500em);
  background-image:
  -moz-linear-gradient(0deg, transparent 0em, rgba(0,0,0,.05) .05em, rgba(0,0,0,.05) .125000em, transparent .125000em),
  -moz-linear-gradient(rgba(0,0,0,.05) .062500em, transparent .062500em);
  background-image:
  -ms-linear-gradient(0deg, transparent 0em, rgba(0,0,0,.05) .05em, rgba(0,0,0,.05) .125000em, transparent .125000em),
  -ms-linear-gradient(rgba(0,0,0,.05) .062500em, transparent .062500em);
  background-image:
  -o-linear-gradient(0deg, transparent 0em, rgba(0,0,0,.05) .05em, rgba(0,0,0,.05) .125000em, transparent .125000em),
  -o-linear-gradient(rgba(0,0,0,.05) .062500em, transparent .062500em);
  background-image:
  linear-gradient(0deg, transparent 01em, rgba(0,0,0,.05) .05em, rgba(0,0,0,.05) .125000em, transparent .125000em),
  inear-gradient(rgba(0,0,0,.05) .062500em, transparent .062500em);
  background-size: 1.25em 1.25em;
  background-position: 0 -0.5em;
  /* Everything else */
  margin: 0px;
  padding: 0px;
}

/* Regular buttons */

button{
  display: block;
  margin: auto;
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
  border: 1px solid #c9c9c9;
  border-radius: 10px;
  transition: background-color 0.5s, border-color 0.5s, color 0.5s;
}

button:hover{
  background-color: white;
}

button:active{
  background-color: #d1d1d1;
  border-color: #999999;
}

button:focus{
  outline: none;
}

/* Red buttons */

button.red{
  background-color: #ff4a4a;
  border-color: #c91e1e;
  color: white;
}

button.red:hover{
  background-color: white;
  color: #c91e1e;
}

button.red:active{
  background-color: #ff6666;
  color: white;
}

input{
  padding: 10px;
  font-size: 18px;
  border: 1px solid #c9c9c9;
  border-radius: 10px;
}

header{
  position: absolute;
  width: 100vw;
  margin: 0px;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0px;
}

footer{
  position: absolute;
  width: 100vw;
  bottom: 0px;
  margin: 0px;
  padding-bottom: 50px;
}

hr{
  border: 1px solid #c9c9c9;
}

hr.small{
  width: 25%;
}

hr.medium{
  width: 50%;
}

hr.large{
  width: 75%;
}

input[type=checkbox]{
  cursor: pointer;
}

/* Other */

*{
  font-family: 'web';
}

*:focus{
  outline: none;
}

*:not(strong){
  font-weight: normal;
}

/* Mobile */

@media (max-width: 850px) {

  *{
    -webkit-tap-highlight-color: transparent;
  }

  #title h1{
    font-size: 34px;
  }

  #title h2{
    font-size: 26px;
  }

  #links{
    left: 0px;
    width: 100vw;
  }

  #links .left{
    float: left;
    margin-left: 20px;
  }

  #links .right{
    float: right;
    margin-right: 20px;
  }

  #leaderboard ol{
    font-size: 22px;
  }

  .dialogue.open{
    width: 325px;
  }

  .mobileOnly{
    display: block;
  }

  footer{
    padding-bottom: 20px;
  }

}
