
/* Fonts */

@font-face{

  font-family: "web";
  src: url("fonts/Titillium_Web/TitilliumWeb-Regular.ttf");

}

/* Id */

#clicker{

  margin: 0px;
  padding: 0px;
  width: 300px;
  height: 300px;
  border-radius: 300px;
  background: #f5b362;
  border: 5px solid black;
  position: absolute;
  left: 50vw;
  top: 50vh;
  margin-left: -150px;
  margin-top: -150px;
  transition: 0.1s;

}

#clicker:active{

  width: 250px;
  height: 250px;
  margin-left: -125px;
  margin-top: -125px;

}

#ScoreBoard{

  font-size: 25px;
  width: 100vw;
  position: absolute;
  left: 0px;
  bottom: 35px;
  text-align: center;

}

#LoadingAnimation{

  position: absolute;

}

#loader{

  position: absolute;
  top: 50vh;
  left: 50vw;
  margin-top: -37px;
  margin-left: -37px;

}

#Main{

  display: none;

}

#SettingsButton{

  padding: 0px;
  font-size: 40px;
  background: transparent;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: 0.5s;

}

#settings h1{

  margin-top: 10px;

}

#Options{

  font-size: 25px;
  margin-left: 25px;
  margin-top: 10px;

}

#Options p{

  margin: 0px;
  margin-bottom: 15px;

}


#ReloadDialogue{

  height: 180px;
  margin-top: -90px;

}

#ReloadDialogue h1{

  text-align: center;

}

#ReloadDialogue button{

  display: block;
  margin: auto;
  font-size: 25px;
  margin-top: 15px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  background: transparent;
  color: black;
  transition: 0.5s;

}

#ReloadDialogue button:active{

  background: #a8a8a8;

}

#PlayersOnline{

  font-size: 25px;
  width: 50vw;
  position: absolute;
  left: 0px;
  bottom: 35px;
  text-align: center;

}

#PlayerScore{

  font-size: 25px;
  width: 50vw;
  position: absolute;
  left: 50vw;
  bottom: 35px;
  text-align: center;

}

/* Classes */

.SettingsSelect{

  display: inline-block;
  float: right;
  background: #f1f2f3;
  padding: 5px;
  border-radius: 0px;
  margin-right: 25px;
  margin-top: 2.5px;

}

.Dialogue{

  display: none;
  position: absolute;
  top: 50vh;
  left: 50vw;
  margin-left: -198px;
  margin-top: -248px;
  width: 400px;
  height: 500px;
  background: #f1f2f3;
  border: 2px solid black;
  border-radius: 10px;

}

/* Tags */

header{

  text-align: center;

}

h1{

  margin-bottom: 0px;
  font-size: 37px;

}

h3{

  margin-top: 0px;
  font-size: 27px;

}

hr{

  width: 50%;

}

body{

      background-color: #f1f2f3;
      background-image:
        -webkit-linear-gradient(0deg, transparent 0em, rgba(0,0,0,.05) .05em, rgba(0,0,0,.05) .125000em, transparent .125000em),
        -webkit-linear-gradient(rgba(0,0,0,.05) .062500em, transparent .062500em);
      background-image:
        -moz-linear-gradient(0deg, transparent 0em, rgba(0,0,0,.05) .05em, rgba(0,0,0,.05) .125000em, transparent .125000em),
        -moz-linear-gradient(rgba(0,0,0,.05) .062500em, transparent .062500em);
      background-image:
        -ms-linear-gradient(0deg, transparent 0em, rgba(0,0,0,.05) .05em, rgba(0,0,0,.05) .125000em, transparent .125000em),
        -ms-linear-gradient(rgba(0,0,0,.05) .062500em, transparent .062500em);
      background-image:
        -o-linear-gradient(0deg, transparent 0em, rgba(0,0,0,.05) .05em, rgba(0,0,0,.05) .125000em, transparent .125000em),
        -o-linear-gradient(rgba(0,0,0,.05) .062500em, transparent .062500em);
      background-image:
        linear-gradient(0deg, transparent 01em, rgba(0,0,0,.05) .05em, rgba(0,0,0,.05) .125000em, transparent .125000em),
        inear-gradient(rgba(0,0,0,.05) .062500em, transparent .062500em);
      background-size: 1.25em 1.25em;
      background-position: 0 -0.5em;

}

/* Other */

*{

  font-family: "web";

  font-weight: normal;

  cursor: default;

}

*:focus{

  outline: none;

}

/* Loading Animation */

.loader {
  border: 5px solid lightgrey;
  border-top: 5px solid grey;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Mobile View */

@media only screen and (max-width: 600px){

  /* Id */

  #clicker{

    width: 70vw;

    height: 70vw;

    margin-left: -35vw;

    margin-top: -50vw;

  }

  #clicker:active{

    width: 65vw;

    height: 65vw;

    margin-left: -32.5vw;

    margin-top: -48.5vw;

  }

  #ScoreBoard{

    bottom: 60px;

  }

  #Settings{

    width: 80vw;

    margin-left: -40vw;

  }

  #Options{

    font-size: 16px;

  }

  #Options p{

    margin: 0px;

    margin-bottom: 25px;

  }

  #PlayersOnline{

    width: 100vw;

    bottom: 140px;

  }

  #PlayerScore{

    width: 100vw;

    left: 0px;

    bottom: -20px;

  }

  /* Classes */

  .SettingsSelect{

    font-size: 12px;

    margin-top: -5px;

  }

  /* Tags */

  *{

    -webkit-user-select: none;

  	-moz-user-select: none;

  	-ms-user-select: none;

  	user-select: none;

  }

  /* Other */

}

@media only screen and (max-width: 375px){

  /* Id */

  #Options{

    font-size: 14px;

  }

  /* Classes */

  /* Tags */

  /* Other */

}
